<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Welcome to HARMONY4DBEST CODING BOOTCAMP</h1>
    <p>Let us guide you on your TECH journey!!</p>
    <p>Click <a href="{{ registration_url }}" class="button-link">here</a> to go to the registration page.</p>
</body>
</html>
