<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form method="POST" action="/register">
            <label>Username: <input type="text" name="username"></label><br>
            <label>Password: <input type="password" name="password"></label><br>
            <input type="submit" value="Register" class="button-link">
        </form>
        <p>Already have an account? <a href="{{ login_url }}" class="button-link">Login here</a></p>
    </div>
</body>
</html>
